@charset "UTF-8";

/*
    : --> pseudo-classe
    //configuram o estado de um elemento

    //hover --> passar o mouse sobre
*/
div {
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    height: 200px;
    /*altura*/
    width: 200px;
    /*width*/
    border: 1px solid black;
    border-radius: 5px;
}

div:hover {
    height: 205px;
    width: 205px;
    border-radius: 13px;
}

.d1 {
    background-color: rgb(167, 66, 66);
}

.d2 {
    background-color: rgb(59, 59, 122);
}

.d3 {
    background-color: rgb(58, 117, 58);
}